.stockDBody {
  width: 100%;
  height: 100vh;
}

.stockTopBar {
  width: 100%;
  height: 9.5vh;
  background-color: var(--dark);
}

.flexStock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.4%;
  gap: 1.35%;
}

.leftStock,
.rightStock {
  width: 48%;
  border-radius: 15px;
  height: 85vh;
  background-color: var(--dark);
}

.stockTopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
}

.rightI {
  display: flex;
  margin-right: 20%;
  gap: 40%;
}

.stockTopBar i {
  cursor: pointer;
}

.leftI {
  margin-left: 3%;
}

.topDetailsBro {
  display: flex;
  margin-top: 4%;
}

.stockNameTop {
  margin-right: auto;
  margin-left: 5%;
}

.stockPBro {
  margin-right: 7%;
  font-weight: 600;
}

.stockPrice {
  font-size: 32px;
}

.stockPriceC {
  font-size: 19px;
}

.flexCBro {
  display: flex;
}

.flexCBro p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
}

.stockChange {
  margin-left: 12%;
  font-size: 19px;
}

.stockChart {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 4%;
  height: 39vh;
}

.stockName {
  color: var(--logo);
}

.stockSymbol {
  opacity: 0.5;
  margin-top: 1.1%;
}

.impDataDown {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 3%;
}

.impDataDown div {
  font-size: 19px;
}

.sp2 {
  margin-top: 0% !important;
}

.spanBro {
  display: block;
  margin-top: 15%;
}

.spanBro span {
  color: var(--logo);
  font-weight: 600;
}

.lineB {
  width: 0.5%;
  background-color: var(--logo);
  border: none;
  outline: none;
}

.btnActionBS {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 7%;
}

.btnActionBS button {
  width: 20%;
  height: 5vh;
  font-size: 19px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.btnActionBS button:hover {
  opacity: 0.8;
}

.buyBtn {
  background-color: red;
  color: white;
}

.sellBtn {
  background-color: green;
  color: white;
}

.stockTopBar i:active {
  color: var(--logo);
}
.stockTopBar i:hover {
  color: var(--logo);
}

.industryT {
  width: fit-content;
  display: block;
  margin: auto;
  margin-top: 5%;
  background-color: var(--material);
  border-radius: 10px;
  font-size: 20px;
  padding: 1.5% 4%;
}

.rightStock {
  overflow-y: scroll;
}

.impD2 {
  margin-top: 7% !important;
}

.companyInfo {
  text-align: center;
  margin-left: 5%;
  margin-top: 6%;

}

.companyInfo h1{
    color: var(--logo);
}

summary{
    cursor: pointer;
    font-size: 20px;
    margin-top: 3%;
    background-color: var(--material);
    width: fit-content;
    margin: auto;
    margin-top: 4%;
    padding: 2% 4%;
    border-radius: 10px;
}

details p{
    font-size: 17px;
    width: 90%;
    margin: auto;
    margin-top: 4%;
    line-height: 28px;
}

.companyAdd, .companyWeb{
    width: 89%;
    display: block;
    font-size: 20px;
    margin : auto;
    margin-top: 7%;
}

.companyAdd span{
    color: var(--logo);
    font-weight: 600;
}
.companyWeb span{
    color: var(--logo);
    font-weight: 600;
}

.companyWeb a:hover{
    color: red;
    
}

.companyWeb{
    margin-top: 5%;
    margin-bottom: 5%;
}

.stockDashboard .active{
  color: var(--logo);

}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: var(--light);
  padding: 20px;
  border-radius: 10px;
  width: 25%;
  height: 40vh;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.topBuy{
  display: flex;
  justify-content: center;
  align-items: center;
}



.topBuy i{
  font-size: 27px;
  cursor: pointer;
}

.topBuy h2{
  color: var(--logo);
  font-size: 26px;
  margin-right: auto;
  
}

#closeP{
  cursor: pointer;
}

#closeP:hover{
  color: var(--red);
}

.inputStock{
  width: 98%;
  background-color: var(--dark);
  color: white;
  height: 8vh;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 5%;
  font-size: 30px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 7%;

}

.inputStock:focus{
  border: solid 2px var(--material);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.stockPL{
  width: 90%;
  height: fit-content;
  background-color: var(--material);
  width: fit-content;
  padding: 2.5% 5%;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 8%;
  font-size: 26px;
}

.buy-button{
  width: 50%;
  height: 6vh;
  background-color: green;
  border: none;
  outline: none;
  border-radius: 7px;
  color: white;
  font-size: 18px;
  display: block;
  margin: auto;
  cursor: pointer;
  margin-top: 9%;

}

.buy-button:hover{
  opacity: 0.9;
}