
.settParent{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1%;
    /* background-color: blue; */
}

.personalDet{
    width: 30%;
    height: 96vh;
    background-color: var(--dark);
    border-radius: 13px;

}

.blockParentF{
    width: 67%;
    height: 96vh;
    border-radius: 13px;
    /* background-color: var(--dark); */
}

.flexPF{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5%;
}

.flexPF1{
    width: 49%;
    height: 46.5vh;
    background-color: var(--dark);
    border-radius: 13px;
}
.flexPF2{
    width: 87%;
    height: 46.9vh;
    background-color: var(--dark);
    border-radius: 13px;
    margin-top: 1.7%;
}
.flexPF3{
    width:11%;
    height: 46.9vh;
    background-color: var(--dark);
    border-radius: 13px;
    margin-top: 1.7%;
}

.leftI2 i{
    font-size: 30px;
    cursor: pointer;
    margin-left: 7%;
    margin-top: 4%;
}

.leftI2 i:hover{
    color: var(--logo);
}

.flexLastB i:hover{
    color: var(--logo);
}

.userInfoU img{
    
    display: block;
    margin: auto;
    width:35%;
    margin-top: 4%;
}

.userInfoU input{
    width: 80%;
    height: 7vh;
    background-color: var(--light);
    color: white;
    font-size: 18px;
    outline: none;
    border: none;
    text-align: center;
    display: block;
    margin: auto;
    border-radius:7px;
    margin-top: 7%;
}

.userInfoU input:nth-child(3) {
    margin-top:8% !important;
}

.userInfoU input:focus{
    border: solid 2.34px var(--material);
}

.accUid{
    font-size: 17px;
    text-align: center;
    margin-top: 7%;
    user-select:text !important;
}

.blueUid{
    color: var(--logo);
    font-weight: 600;;
}

.balanceV{
    max-width:80%;
    width: fit-content;
    height: fit-content;
    background-color: green;
    font-size: 24px;
    padding: 2% 4%;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 9%;
}

.resetDB{
    display: block;
    width: 70%;
    height: 6vh;
    border: none;
    outline: none;
    background-color: rgb(214, 14, 14);
    color: white;
    font-size: 18px;
    border-radius: 12px;
    margin: auto;
    cursor: pointer;
    margin-top: 9%;
}
.updatePB{
    display: block;
    width: 70%;
    height: 6vh;
    border: none;
    outline: none;
    background-color: var(--material);
    color: white;
    font-size: 18px;
    border-radius: 12px;
    margin: auto;
    cursor: pointer;
    margin-top: 4%;
}

.updatePB:hover{
    opacity: 0.8;
}
.resetDB:hover{
    opacity: 0.8;
}

.flexBhaiA{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: red; */
    height: 37vh;
}

.flexThemeC img{

    width: 87%;
    margin-left: 7%;
    border-radius: 6px ;
}


.flexThemeC button {
    display: block;
    width: 50%;
    height: 5vh;
    border: none;
    outline: none;
    background-color: var(--material);
    color: white;
    font-size: 18px;
    border-radius: 12px;
    margin: auto;
    cursor: pointer;
    margin-top: 10%;
}

.flexThemeC button:hover {
    opacity: 0.8;
}

.flexPF2 h3{
    text-align: center;
    font-size: 26px;
    margin-top: 3%;
}

.flexPF3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-size: 30px;
}

.flexPF3 i:hover{
    color: var(--logo);
    cursor: pointer;
}

.flexPF3 .fa-crown:hover{
    color: yellow !important;
}

.flexPF1 h2{
    text-align: center;
    margin-top: 4%;
    font-size:27px;
}

.flexPF1 p:nth-child(2){
    background-color: var(--material);
    width: fit-content;
    font-size: 25px;
    padding: 2% 3%;
    display: block;
    margin: auto;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 6%;
}
.flexPF1 p:nth-child(3){
    background-color: var(--light);
    width: fit-content;
    font-size: 25px;
    padding: 2% 3%;
    display: block;
    margin: auto;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 8%;
}

.flexPF1 button {
    display: block;
    width: 40%;
    height: 6vh;
    border: none;
    outline: none;
    background-color: rgb(116, 116, 1);
    color: white;
    font-size: 18px;
    border-radius: 12px;
    margin: auto;
    cursor: pointer;
    margin-top: 7%;
}
#setPB {
    display: block;
    width: 40%;
    height: 6vh;
    border: none;
    outline: none;
    background-color: rgb(116, 116, 1);
    color: white;
    font-size: 18px;
    border-radius: 12px;
    margin: auto;
    cursor: pointer;
    margin-top: 4%;
}


.flexPF1 button:hover {
    opacity: 0.8;
}

.flexPF1 .fa-crown{
    color: yellow;
    padding: 0% 2% ;
}

#premHead{
    color: yellow;

}

.premiumD h3{
    font-size: 23px;
    margin-top: 2%;
    color: var(--logo);
    margin-top: 7%;
}

.premiumD p{
    font-size: 18px;
    margin-top: 5%;
}

#buttonPre{
    color: black;
    background-color: rgb(189, 189, 3) !important;
}

.unsetP{
    width: 80%;
    height: 6vh;
    background-color: var(--light);
    text-align: center;
    font-size: 17.5px;
    border: none;
    outline: none;
    color: white;
    display: block;
    margin: auto;
    color: white;
    border-radius: 10px;
    margin-top: 6%;
}

.unsetP:focus{
    border: solid 2px var(--material);
}
.passcodeInp p{
    margin-top: 3%;
    text-align: center;
    font-size: 17px;
}

.setP input{
    width: 80%;
    height: 6vh;
    background-color: var(--light);
    text-align: center;
    font-size: 17.5px;
    border: none;
    outline: none;
    color: white;
    display: block;
    margin: auto;
    color: white;
    border-radius: 10px;
    margin-top: 6%;
}

.setP input:focus{
    border: solid 2px var(--material);
}
.removePasscode{
    text-align: center;
    margin-top: 2%;
}

.removePasscode:hover{
    color: var(--logo);
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}