

.homeBody{
  width: 80%;
  /* background-color: var(--dark); */
}

.homeSearch{
  width:100%;
  margin-top: 0%;

}

.flexCHome{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--dark); */
  width: 99%;
  height: 84vh;
  /* margin-left: 3%; */
  margin: auto;
  margin-left: 2%;
  margin-top: 2%;
  border-radius: 13px;
  gap: 1.1%;
}

.othersLeft{
  width: 70%;
  height: 86vh;
  background-color: var(--dark);
  border-radius: 13px;
}

.newsRight{
   width: 40%;
   height: 86vh;
   background-color: var(--dark);
   border-radius: 13px;
   overflow-y: scroll;
}

.flexNewsC{
  display: flex;
  gap: 3.5%;
}

.newsContainer{
  width: 93%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3%;
}

.newsBro{
  margin-top: 3.5%;
  border-radius: 10px;
  background-color: var(--light);
  padding: 3% 3%;
}

.newsBro p{
  color: white;
  text-decoration: unset;
  font-size: 15.5px;
}

.newsBro img{
 border-radius: 10px; 
}

.newsBro a{
  text-decoration: none;
}

.newsBro:hover{
  background-color: var(--material);
}

.spanBhai span{
  color: var(--logo);
  font-weight: 600;
}

.headNifty{
  color: var(--logo);
  font-weight: 600;
  margin-left: 4%;
  font-size: 35px;
}

.flexPrice{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 4%;
}

.niftyParent{
  width: 96%;
  display: block;
  margin: auto;
  margin-top: 4%;
}

.currPriceN{
  margin-top: 1%;
}

.currPerN{
  margin-left: 2%;
  margin-top: 1%;
  /* color: rgb(1, 172, 1); */
}

.niftyChart{
  margin-top: 4%;
}

.flexNifty{
  display: flex;
  justify-content: space-evenly;
}

.spanBhai{
  display: block;
  margin-top: 11%;
  font-size: 19px;
}

.flexNifty hr{
  margin-top: 3%;
  width: 1px;
  background-color: white;
}
