

.homeBody{
  width: 80%;
  /* background-color: var(--dark); */
}

.homeSearch{
  width:100%;
  margin-top: 0%;

}

.flexCHome{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--dark); */
  width: 99%;
  height: 84vh;
  /* margin-left: 3%; */
  margin: auto;
  margin-left: 2%;
  margin-top: 2%;
  border-radius: 13px;
  gap: 1.1%;
}

.othersLeft{
  width: 70%;
  height: 86vh;
  background-color: var(--dark);
  border-radius: 13px;
}

.newsRight{
   width: 34%;
   height: 86vh;
   background-color: var(--dark);
   border-radius: 13px;
   overflow-y: scroll;
}