@media only screen and (max-width: 868px)
{
.navBarE{
    position: absolute;
    width: 100% !important;
    z-index: 9;
    height: fit-content !important;
    bottom: 0px;
    border-radius: 12px 12px 0px 0px !important; 
}

.flexLastB, #navG, .creditD, .topAppL{
    display: none !important;
}

.navEleL h2{
    display: none;
}

.navEle{
    display: flex !important;
    justify-content: center;
    align-items: center;
    
}

.navEleL {
    margin-top: 0%;
    padding: 3% 0%;
}

#navHome{
    margin-top: 0%;
    margin-left: 3%;
}

.navEleL i{
    font-size: 25px;
    /* margin-left: -2%; */
   
} 


.navEleL.active{
    background-color: unset !important;
    color: var(--logo);
}

.flexParent{
    overflow-y: scroll !important;
    width: 100% !important;
}

.navEleL:active{
    background-color: unset !important  ;
}

.flexCHome{
    flex-direction: column;
}

.accBal span{
    display: none;
}

.homeBody{
    width: 100%;
    overflow-y: scroll !important;
}

.othersLeft{
    width: 95%;
    /* height: fit-content; */
    margin-left: -3%;
    margin-top: 2.5%;
    
}

.flexCHome{
    height: 78vh;
}

.newsRight{
    width: 95%;
    margin-left: -3%;
    /* overflow-y: hidden; */
    margin-top:1.6%;
}

.searchbhai{
    display: none;
}

.mobilebhai{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}

.mobilebhai div{
    width: 30%;
    /* background-color: red; */
    display: flex;
    gap: 18%;
}

.mobilebhai i{
    font-size: 25px;
    padding: 1% 5%;
}

.search-container input{
    width:110%;
    text-align: center;
}

.accBal{
    font-size: 25px;
    display: none;
}

.homeSearch{
    /* width: 95%; */
    margin-top: 3%;
}

.suggestions{
    width: 113%;
}

.loader{
    margin-top: 10% !important;
}

.headNifty{
    font-size: 26px;
    margin-top: 4%;
    margin-bottom: 0.6%;
}

.currPriceN{
    font-size: 27px;

}

.currPerN{
    font-size: 16px;
    margin-top: 2%;
    margin-left: 3%;
}

.niftyChart{
    margin-top: 5%;
    width: 100%;
    
}

.spanBhai{
    font-size: 14px !important;
}

.flexNifty{
    margin-bottom: 7%;
    gap: 3%;
}

.flexNifty hr{
    width: 0.5px !important;
}

.homeSearch{
    width: 100% !important;
}

}