
.search-container {
    position: relative;
    width: 80%;
  }
  
  .suggestions {
    position: absolute;
    top: 11.5%;
    left: 6.1%;
    right: 0;
    border-radius: 10px;
    /* background-color: var(--dark); */
    z-index: 1000;
    width: 50%;
  
  
  }
  
  .suggestion {
    padding: 10px;
    cursor: pointer;
    height: 7vh;
    display: flex;
    align-items: center;
    padding: 0% 3%;
    font-size: 17px;
    border: solid 2px var(--light);
    border-radius: 10px;
    background-color: var(--dark);
  }
  
  .suggestion:hover {
    background-color: var(--material);
  }
  
  .search-container input{
    width: 55%;
    height: 6vh;
    border: none;
    outline: none;
    margin-left: 6%;
    background-color: var(--dark);
    font-size: 18px;
    padding: 0.2% 2%;
    color: white;
    margin-top: 2.5%;
    border-radius: 10px;
  }

  .suggestion:active{
    background-color: var(--material);
  }

  .search-container input:focus{
    border: solid 2px var(--logo);
  }

  .gainersE,
.losersE {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--dark);
  gap: 5%;
  border: solid 20px var(--dark);
  border-width: 25px 25px;
  margin: auto;
}

.bothB {
  display: block;
}

.gainersE,
.losersE {
  width: 98%;
  height: fit-content;

  overflow-x: scroll;
  margin-top: 1%;
  border-radius: 13px;
  margin-left: 3.5%;
}

.gainerChild,
.loserChild {
  border-radius: 10px;
  text-align: center;
  background-color: var(--new);
  min-height: 25vh;
  max-height: 25vh;
  min-width: 18%;
  max-width: 18%;
  cursor: pointer;
}

.stockNameH {
  font-weight: 600;
  color: var(--logo);
  margin-top: 2%;
  font-size: 18px;
  padding: 0% 2%;
  margin-top: 5%;
}

.stockTickerH {
  font-size: 17px;
  font-weight: 600;
  margin-top: 2%;
  color: var(--logo);
  font-size: 22px;
  margin-top: 7%;
}

.stockPriceH {
  font-size: 28px;
  margin-top: 8%;
  font-weight: 600;
}

.gainerChild:hover {
  background-color: var(--material);
}
.loserChild:hover {
  background-color: var(--material);
}

.stockMoneyCHG {
  color: rgb(3, 192, 3);
  font-weight: 600;
  font-size: 18px;
  margin-top: 3%;
}

.stockPerHG {
  color: rgb(3, 192, 3);
  font-size: 20px;
  font-weight: 600;
  margin-left: 4%;
  margin-top: 7%;
}
.stockPerHL {
  color: rgb(192, 3, 3);
  font-size: 20px;
  font-weight: 600;
  margin-left: 4%;
  margin-top: 7%;
}

.stockMoneyCHL {
  color: rgb(192, 3, 3);
  font-weight: 600;
  font-size: 18px;
  margin-top: 3%;
}

.headN {
  margin-top: 3%;
  font-weight: 600;
  font-size: 20px;
  margin-left: 4.6%;
}

.bhaiK{
  width: 76%;
}